$primary-cor:  #ffeee3;
$secundary-cor: #f5f5dc;

$black-normal: #2c272b;
$black-dark: #4b464a;
$black-light: #6b676b;

$roxo-normal: #720b98;
$roxo-dark: #8c40a9;
$roxo-light: #bc8ccc;

$branco-normal: #f2f8f2;
$branco-dark: #f5f5f5;
$branco-light: #FFFFF0;


$orchid: #DA70D6;